<mat-nav-list class="sidebar-list">
	<mat-list-item><h4 class="title">Asazad Blog Insight</h4> </mat-list-item>
	<mat-divider class="mb-4"></mat-divider>
	<mat-list-item
		mat-list-item
		*ngFor="let menuItem of menuItems"
		[routerLink]="[menuItem.path]"
		routerLinkActive="active"
		[class.displayNone]="
			(authService.getUsername() == '' && menuItem.adminAccessRequired) ||
			(menuItem.showWhenLoggedIn == false && authService.getUsername())
		"
	>
		<div class="d-flex align-items-center">
			<button mat-icon-button>
				<mat-icon color="primary">{{ menuItem.icon }}</mat-icon>
			</button>
			<span class="fs-6">{{ menuItem.title }}</span>
		</div>
	</mat-list-item>
	<button
		class="mt-4"
		mat-flat-button
		color="primary"
		(click)="authService.logout()"
		*ngIf="authService.getUsername() !== ''"
	>
		Log out
	</button>
</mat-nav-list>
