<div class="profile-root">
	<div class="header d-flex justify-content-center align-items-center">
		<h1 class="decorative-title">
			<span class="globe-emoji">🌐</span> Welcome to
			<span class="highlight">Global Insight!</span>
		</h1>
	</div>
	<div class="profile-content">
		<div class="row">
			<div class="col-md-6">
				<div class="decor-card decor-1">
					<div class="icon-circle">🌍</div>
					<div class="decor-text">
						<strong>Ready to explore the world?</strong><br />
						Embark on an exciting journey across borders with
						<b>Worldview Digest</b>, your passport to the dynamic landscape of
						global politics.<br />
						Our mission is to unravel the intricate threads of international
						diplomacy, delve into the nuances of local activism, and present you
						with a carefully curated selection of news that transcends
						geographical boundaries.
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="decor-card decor-2">
					<div class="icon-circle">🚀</div>
					<div class="decor-text">
						<strong>More than just news—it's a journey!</strong><br />
						In an increasingly interconnected world, our commitment is to
						provide you with more than just news updates.<br />
						We invite you to gain a profound understanding of the complex and
						intertwined issues shaping our collective future.<br />
						From the bustling corridors of global diplomacy to the grassroots
						movements sparking change in communities, we strive to offer a
						comprehensive view of the events that influence our shared destiny.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
