<div class="header d-flex justify-content-center align-items-center">
	<h1>Dive into Our Blog Collection!</h1>
</div>
<div class="blogs-grid mt-4">
	<mat-card *ngFor="let blog of blogs" class="single-blog">
		<mat-card-header>
			<mat-card-title>{{ blog.data.blog_title }}</mat-card-title>
			<mat-card-subtitle>
				<span class="uabb-meta-date">
					<i aria-hidden="true" class=""></i> {{ blog.data.timestamp }}
				</span>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
		<mat-card-actions style="display: flex; justify-content: space-between">
			<a mat-button color="primary" [routerLink]="['/read', blog.id]"
				>Read Now →</a
			>
			<span *ngIf="authService.getUsername() !== ''">
				<a mat-button color="accent" [routerLink]="['/edit', blog.id]"
					>Edit Now →</a
				>
			</span>
			<span *ngIf="authService.getUsername() !== ''">
				<button mat-button color="warn" (click)="deleteBlogPost(blog.id)">
					Delete →
				</button>
			</span>
		</mat-card-actions>
	</mat-card>
</div>
